<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>dtlList</key>
		<array>
			<dict>
				<key>title</key>
				<string>姓名</string>
				<key>unit</key>
				<string>元</string>
				<key>isMust</key>
				<false/>
				<key>placeHolder</key>
				<string>请输入姓名</string>
				<key>property</key>
				<string>name</string>
				<key>showType</key>
				<integer>0</integer>
				<key>regularString</key>
				<string>.*</string>
				<key>valueStrings</key>
				<array/>
				<key>values</key>
				<array/>
				<key>keyboardType</key>
				<integer>1</integer>
			</dict>
			<dict>
				<key>title</key>
				<string>户籍</string>
				<key>unit</key>
				<string>yuan</string>
				<key>isMust</key>
				<true/>
				<key>placeHolder</key>
				<string>请输入户籍</string>
				<key>property</key>
				<string>home</string>
				<key>showType</key>
				<integer>1</integer>
				<key>valueStrings</key>
				<array/>
				<key>values</key>
				<array/>
				<key>keyboardType</key>
				<integer>0</integer>
			</dict>
			<dict>
				<key>property</key>
				<string>custom</string>
				<key>showType</key>
				<integer>9</integer>
			</dict>
			<dict>
				<key>title</key>
				<string>性别</string>
				<key>unit</key>
				<string>yuan</string>
				<key>isMust</key>
				<true/>
				<key>placeHolder</key>
				<string>请选择性别</string>
				<key>property</key>
				<string>sex</string>
				<key>showType</key>
				<integer>2</integer>
				<key>valueStrings</key>
				<array>
					<string>女</string>
					<string>男</string>
					<string>男男男男男男男男男男男男男男男男男男男男男男男男男男男男男男男男男男男男男男男男男男男男男男男男男男男男男男男男男男男男男男男男男男男男男男男男男男男男男男男男男男男男男男男男男男男男男男男男男男男男男男男男男男男男男男男男男男男男男男男男男男男男男男男男男男男男男男男男男男男男男男男男男男男男男男男男男男男男男男男男男男男男男男男男</string>
				</array>
				<key>values</key>
				<array>
					<integer>0</integer>
					<integer>1</integer>
					<integer>2</integer>
				</array>
				<key>keyboardType</key>
				<integer>0</integer>
			</dict>
			<dict>
				<key>title</key>
				<string>选择文件</string>
				<key>unit</key>
				<string>yuan</string>
				<key>isMust</key>
				<true/>
				<key>placeHolder</key>
				<string>请选择地区</string>
				<key>property</key>
				<string>images</string>
				<key>showType</key>
				<integer>8</integer>
				<key>valueStrings</key>
				<array>
					<string>女</string>
					<string>男</string>
					<string>男男男男男男男男男男男男男</string>
					<string>男男男男男男男男男</string>
					<string>男男男男男男男男男</string>
					<string>男男男男男男男男男</string>
					<string>男男男男男男男男男</string>
				</array>
				<key>values</key>
				<array>
					<integer>0</integer>
					<integer>1</integer>
					<string>2</string>
					<string>3</string>
					<string>4</string>
					<string>5</string>
					<string>6</string>
				</array>
				<key>keyboardType</key>
				<integer>0</integer>
				<key>maxCount</key>
				<integer>9</integer>
			</dict>
			<dict>
				<key>title</key>
				<string>标签</string>
				<key>unit</key>
				<string>yuan</string>
				<key>isMust</key>
				<true/>
				<key>placeHolder</key>
				<string>请选择标签</string>
				<key>property</key>
				<string>tag</string>
				<key>showType</key>
				<integer>3</integer>
				<key>valueStrings</key>
				<array>
					<string>女</string>
					<string>男</string>
					<string>男男男男男男男男男男男男男</string>
					<string>男男男男男男男男男</string>
					<string>男男男男男男男男男</string>
					<string>男男男男男男男男男</string>
					<string>男男男男男男男男男</string>
					<string>男男男男男男男男男</string>
					<string>男男男男男男男男男</string>
					<string>男男男男男男男男男</string>
					<string>男男男男男男男男男</string>
					<string>男男男男男男男男男</string>
					<string>男男男男男男男男男</string>
					<string>男男男男男男男男男</string>
					<string>男男男男男男男男男</string>
				</array>
				<key>values</key>
				<array>
					<integer>0</integer>
					<integer>1</integer>
					<string>2</string>
					<string>3</string>
					<string>4</string>
					<string>5</string>
					<string>6</string>
					<string>7</string>
					<string>8</string>
					<string>9</string>
					<string>10</string>
					<string>11</string>
					<string>12</string>
					<string>13</string>
					<string>14</string>
				</array>
				<key>keyboardType</key>
				<integer>0</integer>
			</dict>
			<dict>
				<key>title</key>
				<string>日期</string>
				<key>unit</key>
				<string>yuan</string>
				<key>isMust</key>
				<true/>
				<key>placeHolder</key>
				<string>请选择日期</string>
				<key>property</key>
				<string>date</string>
				<key>showType</key>
				<integer>4</integer>
				<key>valueStrings</key>
				<array>
					<string>女</string>
					<string>男</string>
					<string>男男男男男男男男男男男男男</string>
					<string>男男男男男男男男男</string>
					<string>男男男男男男男男男</string>
					<string>男男男男男男男男男</string>
					<string>男男男男男男男男男</string>
				</array>
				<key>values</key>
				<array>
					<integer>0</integer>
					<integer>1</integer>
					<string>2</string>
					<string>3</string>
					<string>4</string>
					<string>5</string>
					<string>6</string>
				</array>
				<key>keyboardType</key>
				<integer>0</integer>
			</dict>
			<dict>
				<key>title</key>
				<string>时间</string>
				<key>unit</key>
				<string>yuan</string>
				<key>isMust</key>
				<true/>
				<key>placeHolder</key>
				<string>请选择时间</string>
				<key>property</key>
				<string>time</string>
				<key>showType</key>
				<integer>5</integer>
				<key>valueStrings</key>
				<array>
					<string>女</string>
					<string>男</string>
					<string>男男男男男男男男男男男男男</string>
					<string>男男男男男男男男男</string>
					<string>男男男男男男男男男</string>
					<string>男男男男男男男男男</string>
					<string>男男男男男男男男男</string>
				</array>
				<key>values</key>
				<array>
					<integer>0</integer>
					<integer>1</integer>
					<string>2</string>
					<string>3</string>
					<string>4</string>
					<string>5</string>
					<string>6</string>
				</array>
				<key>keyboardType</key>
				<integer>0</integer>
			</dict>
			<dict>
				<key>title</key>
				<string>日期和时间</string>
				<key>unit</key>
				<string>yuan</string>
				<key>isMust</key>
				<true/>
				<key>placeHolder</key>
				<string>请选择日期和时间</string>
				<key>property</key>
				<string>dateandtime</string>
				<key>showType</key>
				<integer>6</integer>
				<key>valueStrings</key>
				<array>
					<string>女</string>
					<string>男</string>
					<string>男男男男男男男男男男男男男</string>
					<string>男男男男男男男男男</string>
					<string>男男男男男男男男男</string>
					<string>男男男男男男男男男</string>
					<string>男男男男男男男男男</string>
				</array>
				<key>values</key>
				<array>
					<integer>0</integer>
					<integer>1</integer>
					<string>2</string>
					<string>3</string>
					<string>4</string>
					<string>5</string>
					<string>6</string>
				</array>
				<key>keyboardType</key>
				<integer>0</integer>
			</dict>
			<dict>
				<key>title</key>
				<string>选择地区</string>
				<key>unit</key>
				<string>yuan</string>
				<key>isMust</key>
				<true/>
				<key>placeHolder</key>
				<string>请选择地区</string>
				<key>property</key>
				<string>area</string>
				<key>showType</key>
				<integer>7</integer>
				<key>valueStrings</key>
				<array>
					<string>女</string>
					<string>男</string>
					<string>男男男男男男男男男男男男男</string>
					<string>男男男男男男男男男</string>
					<string>男男男男男男男男男</string>
					<string>男男男男男男男男男</string>
					<string>男男男男男男男男男</string>
				</array>
				<key>values</key>
				<array>
					<integer>0</integer>
					<integer>1</integer>
					<string>2</string>
					<string>3</string>
					<string>4</string>
					<string>5</string>
					<string>6</string>
				</array>
				<key>keyboardType</key>
				<integer>0</integer>
			</dict>
		</array>
		<key>title</key>
		<string>基本信息</string>
	</dict>
</array>
</plist>
